@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/bg-pokemon.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card__img--incorrect {
  filter: brightness(0);
  scale: 1.5;
}

.card__img--correct {
  scale: 1.5;
}
